$color-white:#fff;
$color-black:#000;

$color-gray:rgba($color-black,0.55);
$color-gray2:rgba($color-black,0.35);

$color-blue:#1484D5;
$color-blue-verylight:#F0F9FF;
$color-blue-verylight2:#FBFEFF;


$font-awesome: "Font Awesome 5 Free";

$mediaquery-small: "(max-width: 1281px) and (min-width: 1101px)";
$mediaquery-smaller: "(max-width: 1100px) and (min-width: 801px)";
$mediaquery-mobile: "(max-width: 800px)";
