@charset "UTF-8";
/*
Theme Name: QSP Template
Text Domain: QSP
Version: 1.3
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, QSP
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com

*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,600;0,700;1,400&display=swap");
body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 1.6;
}

* {
  color: inherit;
  font-size: inherit;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

nav {
  background-color: #fff;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

b, strong {
  font-weight: 600;
}

header.main_menu .top a {
  transition: 0.15s all;
}

.search-results a, .form-search .searchform button, .form-search .searchform input[type=text], .accordion .text, .accordion a:after, .accordion a, .content_grid .box.image .the_arrow, .content_grid .box.image .the_content .text, .form-white textarea, .form-white input[type=text], .form-white input[type=email], .form-white input[type=url], .form-white input[type=tel], .footer-menu .social, .footer-menu .blocks .menu a, .blog-posts a, .cards-carousel-blue .indicators .indicator-item, .cards-carousel.dark .indicators .indicator-item, .cards-carousel-full.dark .indicators .indicator-item, .cards-carousel:not(.dark) a:after, .cards-carousel:not(.dark) section:after, .cards-carousel-full:not(.dark) a:after, .cards-carousel-full:not(.dark) section:after, .cards-carousel .indicators .indicator-item, .cards-carousel-full .indicators .indicator-item, .learn_more:after, .cards section span.arrow, .cards section i.arrrow, .cards section, .cards a span.arrow, .cards a i.arrrow, .cards a, .about-video .video:after, .about-video .video i, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.mobile ul.sub-menu li.menu-item a, header.main_menu nav ul.mobile li.menu-item a, header.main_menu nav ul.mobile, header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.menu ul.sub-menu li.menu-item a, header.main_menu nav ul.menu li.menu-item a, header.main_menu .top, .btn-watch, .btn-watch i {
  transition: 0.3s all;
}

.content_grid.parallax-window:after, .media_and_paragraph.parallax-window:after, .homepage-testimonials:after, .cards-carousel:not(.dark) a .image div, .cards-carousel:not(.dark) section .image div, .cards-carousel-full:not(.dark) a .image div, .cards-carousel-full:not(.dark) section .image div, .learn_more:after, .homepage-solutions:after, .about-video .image_1 div, .about-video .image_2 div, .about-video .image_3 div, .about-video .image_4 div, .about-video .image_1, .about-video .image_2, .about-video .image_3, .about-video .image_4, .about-video .video:after, .about-video .video i, .about-video .video, .content-banner:after, .homepage-banner iframe, .homepage-banner:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.content {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  .content {
    padding: 0 20px;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  .content {
    padding: 0 20px;
  }
}
@media (max-width: 800px) {
  .content {
    padding: 0 20px;
  }
}

.content-small {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.content-smaller {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.btn {
  background-color: #1484D5 !important;
  color: #fff !important;
  border-radius: 5px !important;
  padding: 15px 40px !important;
  display: inline-block !important;
  line-height: unset !important;
  height: auto !important;
  text-transform: unset !important;
  font-size: 13px !important;
  box-shadow: unset !important;
}
.btn:hover {
  color: #1484D5 !important;
  background-color: #F0F9FF !important;
}

.btn-watch {
  line-height: 40px;
  font-size: 11px;
}
.btn-watch i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #1484D5;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}
.btn-watch:hover i {
  transform: scale(1.2);
  margin-right: 15px;
}

sep, .sep {
  display: block;
  width: 100%;
  height: 20px;
  clear: both;
}

.text-left {
  text-align: left !important;
}
.text-left * {
  text-align: left;
}

.text-center {
  text-align: center;
}
.text-center * {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  margin: 20px 0;
}
.line.white {
  background-color: #fff;
}
.line.opacity {
  opacity: 0.5;
}

.p20 {
  padding: 20px;
}

header.main_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header.main_menu .top {
  background-color: #F0F9FF;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  font-size: 11px;
  color: #000;
  overflow: hidden;
}
header.main_menu .top .left a {
  float: left;
  display: block;
  margin-right: 20px;
  color: #000;
}
header.main_menu .top .left b {
  padding-right: 5px;
}
@media (max-width: 800px) {
  header.main_menu .top .left {
    display: none;
  }
}
header.main_menu .top .right {
  display: flex;
  flex-wrap: nowrap;
}
header.main_menu .top .right a {
  float: left;
  display: block;
  padding: 0 5px;
  color: #000;
}
header.main_menu .top .right a i {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
header.main_menu .top .right .more_text {
  margin-left: 20px;
}
@media (max-width: 800px) {
  header.main_menu .top .right .more_text {
    margin-left: 0px;
    padding-right: 20px;
  }
}
header.main_menu .top a:hover {
  color: #1484D5;
}
header.main_menu.compact .top {
  max-height: 0;
}
header.main_menu nav .content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
}
header.main_menu nav a.custom-logo-link {
  display: block;
  flex-grow: 0;
  flex-shrink: 9;
  width: 100px;
}
header.main_menu nav a.custom-logo-link img {
  width: 100px;
  max-height: 70px;
  margin: 5px 0;
}
header.main_menu nav a.toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  height: 80px;
  line-height: 80px;
  display: none;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 800px) {
  header.main_menu nav a.toggle {
    display: block;
  }
}
header.main_menu nav a.toggle i {
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  color: #000;
}
header.main_menu nav a.toggle i:first-of-type {
  display: block;
}
header.main_menu nav a.toggle i:last-of-type {
  display: none;
}
header.main_menu nav a.toggle.expanded i:first-of-type {
  display: none !important;
}
header.main_menu nav a.toggle.expanded i:last-of-type {
  display: block !important;
}
header.main_menu nav ul.menu {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 800px) {
  header.main_menu nav ul.menu {
    display: none;
  }
}
header.main_menu nav ul.menu li.menu-item {
  display: flex;
  align-items: stretch;
  position: relative;
}
header.main_menu nav ul.menu li.menu-item:hover ul.sub-menu a {
  max-height: 100px;
  padding: 10px 30px 10px 20px;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #1484D5;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu li.menu-item a {
  font-size: 14px;
  color: #000;
  align-content: center;
  display: flex;
  padding: 0 20px;
  align-items: center;
  line-height: unset !important;
  border-bottom: 2px solid transparent;
}
header.main_menu nav ul.menu li.menu-item a:hover {
  border-bottom-color: #1484D5;
  background-color: transparent;
  color: #1484D5;
}
header.main_menu nav ul.menu ul.sub-menu {
  position: absolute;
  background-color: #fff;
  flex-wrap: wrap;
  top: 80px;
  width: 200px;
  z-index: -1;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item {
  display: flex;
  width: 100%;
  position: relative;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #1484D5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover a {
  color: #1484D5;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover ul.sub-menu {
  width: 200px !important;
  opacity: 1;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item a {
  padding: 0px 30px 0 20px;
  font-size: 13px;
  color: #000;
  line-height: 1.5 !important;
  border-bottom: 0px;
  overflow: hidden;
  max-height: 0;
  width: 100%;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item a:hover {
  color: #1484D5 !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #FBFEFF;
  position: absolute;
  left: 200px;
  top: 0;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  z-index: -3;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu li {
  width: 200px !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: "";
}
header.main_menu nav ul.mobile {
  flex-grow: 1;
  width: 100%;
  display: block;
  justify-content: flex-end;
  align-items: stretch;
  position: absolute;
  top: 80px;
  height: 0;
  background-color: #fff;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (max-width: 1281px) and (min-width: 1101px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 1100px) and (min-width: 801px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 800px) {
  header.main_menu nav ul.mobile {
    display: block;
  }
}
header.main_menu nav ul.mobile.expanded {
  height: calc(100vh - 80px) !important;
}
header.main_menu nav ul.mobile li.menu-item {
  position: relative;
  width: 100%;
  display: block;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #1484D5;
  float: right;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile li.menu-item a {
  font-size: 14px;
  color: #000;
  align-content: center;
  display: block;
  padding: 0 20px;
  align-items: center;
  border-bottom: 2px solid transparent;
  height: 50px;
  line-height: 50px;
}
header.main_menu nav ul.mobile li.menu-item a:hover {
  border-bottom-color: #1484D5;
  background-color: transparent;
  color: #1484D5;
}
header.main_menu nav ul.mobile ul.sub-menu {
  position: static;
  background-color: #fff;
  flex-wrap: wrap;
  top: 80px;
  z-index: -1;
  margin-left: 20px;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded a {
  max-height: 50px !important;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded ul.sub-menu:not(.expanded) {
  max-height: 0px !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item {
  width: 100%;
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #1484D5;
  float: right;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover a {
  color: #1484D5;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a {
  padding: 0px 20px 0 20px;
  height: 50px;
  max-height: 0px;
  line-height: 50px;
  font-size: 13px;
  color: #000;
  border-bottom: 0px;
  overflow: hidden;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a:hover {
  color: #1484D5 !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #FBFEFF;
  overflow: hidden;
  z-index: -3;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: "";
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu.expanded a {
  max-height: 50px !important;
}

.title-group {
  margin-bottom: 40px;
}
.title-group label {
  color: #1484D5;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
}
.title-group h1, .title-group h2 {
  margin: 0;
  padding: 0;
}
.title-group h2 {
  font-size: 24px;
  font-weight: 600;
}
.title-group.text-white * {
  color: #fff;
}

.text-gray {
  color: rgba(0, 0, 0, 0.55);
}

.menu-spacer {
  display: block;
  height: 118px;
  width: 100%;
}

.homepage-banner {
  display: flex;
  width: 100%;
  height: calc(100vh - 120px);
  position: relative;
  background-color: #000;
}
.homepage-banner:after {
  content: "";
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.homepage-banner iframe {
  display: block;
  z-index: 0;
}
.homepage-banner .content {
  position: relative;
  z-index: 2;
}
.homepage-banner .content * {
  max-width: 500px;
  color: #fff;
}
.homepage-banner .content h1 {
  font-size: 42px;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 1.2;
}
.homepage-banner .content .subtitle {
  display: block;
  margin-bottom: 20px;
}

.content-banner {
  width: 100%;
  overflow: hidden;
  height: 30vw;
  min-height: 300px;
  position: relative;
  display: flex;
}
.content-banner.small {
  height: 20vw !important;
  min-height: 200px !important;
}
.content-banner.text-center {
  justify-content: center !important;
}
.content-banner.text-center .content {
  text-align: center;
}
.content-banner.text-center .banner-content {
  margin: auto;
}
.content-banner:after {
  content: "";
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.content-banner .content {
  color: #fff;
  z-index: 2;
  position: relative;
}
.content-banner .content .banner-content {
  width: 100%;
  max-width: 500px;
}
.content-banner .content h1 {
  font-size: 42px;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 1.2;
}
.content-banner .content .subtitle {
  display: block;
  margin-bottom: 20px;
}

.homepage-about {
  padding: 80px 0;
  background-color: rgba(240, 249, 255, 0.25);
}
.homepage-about .btn {
  margin-top: 40px;
}
.homepage-about .row {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.homepage-about .left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.about-video {
  width: 100%;
  padding-bottom: 40%;
  display: block;
  position: relative;
  min-height: 500px !important;
}
.about-video.zoom {
  transform: scale(1.4);
  min-height: 700px !important;
}
.about-video .video {
  width: 400px;
  height: 225px;
  margin: auto;
  display: block;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  z-index: 2;
}
.about-video .video i {
  width: 50px;
  height: 50px;
  background-color: #1484D5;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  z-index: 2;
}
.about-video .video:after {
  content: "";
  background-color: #fff;
  opacity: 0;
  z-index: 1;
}
.about-video .video:hover i {
  transform: scale(1.2);
}
.about-video .video:hover:after {
  opacity: 0.1;
}
.about-video .image_1, .about-video .image_2, .about-video .image_3, .about-video .image_4 {
  z-index: 1;
  border-radius: 4px;
  opacity: 0.3;
}
.about-video .image_1 div, .about-video .image_2 div, .about-video .image_3 div, .about-video .image_4 div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-video .image_1 {
  width: 157px;
  height: 105px;
  transform: translate(-200px, 200px);
}
.about-video .image_2 {
  width: 192px;
  height: 192px;
  transform: translate(200px, 200px);
}
.about-video .image_3 {
  width: 137px;
  height: 85px;
  transform: translate(0px, -100px);
}
.about-video .image_4 {
  width: 218px;
  height: 132px;
  transform: translate(-210px, -50px);
}

.homepage-solutions {
  width: 100%;
  min-height: 800px;
  padding: 140px 0;
  position: relative;
}
.homepage-solutions:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.homepage-solutions .content {
  position: relative;
  z-index: 2;
}
.homepage-solutions img {
  min-width: 100%;
}
.homepage-solutions .line.white {
  margin: 140px 0;
}

.cards {
  display: flex;
  margin-top: 80px;
  flex-wrap: wrap;
}
.cards a {
  float: left;
  width: 386.66px;
  margin: 20px;
  display: block;
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
.cards a .icon-main i, .cards a .icon-main span {
  width: 100%;
  display: block;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}
.cards a * {
  text-align: center;
}
.cards a h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.cards a div.text {
  font-size: 12px;
  margin-bottom: 40px;
}
.cards a span.arrow, .cards a i.arrrow {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1484D5;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  border-radius: 50%;
  box-sizing: unset;
  border: 1px solid #1484D5;
}
.cards a:hover {
  background-color: #F0F9FF;
  transform: scale(1.05);
}
.cards a:hover .arrow {
  transform: scale(1.5);
}
.cards section {
  float: left;
  width: calc(50% - 40px);
  margin: 20px;
  display: block;
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .cards section {
    width: 100%;
  }
}
.cards section .icon-main i, .cards section .icon-main span {
  width: 100%;
  display: block;
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
}
.cards section * {
  text-align: center;
}
.cards section h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.cards section div.text {
  font-size: 12px;
  margin-bottom: 40px;
}
.cards section span.arrow, .cards section i.arrrow {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1484D5;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  border-radius: 50%;
  box-sizing: unset;
  border: 1px solid #1484D5;
}

.homepage-services {
  background-color: #FBFEFF;
  padding: 140px 0;
  position: relative;
}
.homepage-services .cards-carousel {
  margin-top: -70px;
}

.homepage-partners {
  background-color: #F0F9FF;
  padding: 140px 0;
}
.homepage-partners .cards h2 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 15px !important;
}
.homepage-partners section {
  padding: 40px;
}
.homepage-partners .logos div {
  float: left;
  width: 80px;
  height: 40px;
  margin-right: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.learn_more {
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}
.learn_more span {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.learn_more span:nth-of-type(2) {
  font-size: 16px;
  padding: 0 0 0 10px;
}
.learn_more span:nth-of-type(1) {
  padding-left: 0px;
}
.learn_more:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.05);
  top: unset;
  height: 0;
  z-index: 0;
  border-radius: 3px;
}
.learn_more.left {
  text-align: left;
  justify-content: left;
}

.carousel-container {
  position: relative;
}
.carousel-container .arrow-left {
  z-index: 99;
  position: absolute;
  left: 0px;
  top: 100px;
  bottom: 100px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-container .arrow-left i {
  font-size: 16px;
}
.carousel-container .arrow-right {
  z-index: 99;
  position: absolute;
  right: 0px;
  top: 100px;
  bottom: 100px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-container .arrow-right i {
  font-size: 16px;
}
.carousel-container .arrow-left:hover, .carousel-container .arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cards-carousel, .cards-carousel-full {
  margin: 0 50px;
  width: calc(100% - 100px);
  padding: 100px 0;
}
.cards-carousel .indicators .indicator-item, .cards-carousel-full .indicators .indicator-item {
  background-color: #1484D5;
  opacity: 0.3;
}
.cards-carousel .indicators .indicator-item.active, .cards-carousel-full .indicators .indicator-item.active {
  background-color: #1484D5;
  opacity: 1;
  transform: scale(1.2);
}
.cards-carousel:not(.dark) a, .cards-carousel:not(.dark) section, .cards-carousel-full:not(.dark) a, .cards-carousel-full:not(.dark) section {
  float: left;
  width: 300px !important;
  min-height: 300px;
  height: auto !important;
  overflow: hidden;
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.cards-carousel:not(.dark) a .image, .cards-carousel:not(.dark) section .image, .cards-carousel-full:not(.dark) a .image, .cards-carousel-full:not(.dark) section .image {
  background-color: #F0F9FF;
  width: 100%;
  height: 200px;
  position: relative;
}
.cards-carousel:not(.dark) a .image div, .cards-carousel:not(.dark) section .image div, .cards-carousel-full:not(.dark) a .image div, .cards-carousel-full:not(.dark) section .image div {
  position: absolute;
  width: 210px;
  height: 120px;
  background-position: center;
  background-size: cover;
}
.cards-carousel:not(.dark) a .inner, .cards-carousel:not(.dark) section .inner, .cards-carousel-full:not(.dark) a .inner, .cards-carousel-full:not(.dark) section .inner {
  padding: 20px;
}
.cards-carousel:not(.dark) a *, .cards-carousel:not(.dark) section *, .cards-carousel-full:not(.dark) a *, .cards-carousel-full:not(.dark) section * {
  text-align: left;
}
.cards-carousel:not(.dark) a h2, .cards-carousel:not(.dark) section h2, .cards-carousel-full:not(.dark) a h2, .cards-carousel-full:not(.dark) section h2 {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  margin: 5px 0 15px 0;
  padding: 0;
}
.cards-carousel:not(.dark) a div.text, .cards-carousel:not(.dark) section div.text, .cards-carousel-full:not(.dark) a div.text, .cards-carousel-full:not(.dark) section div.text {
  font-size: 12px;
  margin-bottom: 50px;
}
.cards-carousel:not(.dark) a .footer, .cards-carousel:not(.dark) section .footer, .cards-carousel-full:not(.dark) a .footer, .cards-carousel-full:not(.dark) section .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.cards-carousel:not(.dark) a .footer span, .cards-carousel:not(.dark) section .footer span, .cards-carousel-full:not(.dark) a .footer span, .cards-carousel-full:not(.dark) section .footer span {
  line-height: 50px;
  display: inline-block;
  height: 50px;
}
.cards-carousel:not(.dark) a .footer span:nth-of-type(2), .cards-carousel:not(.dark) section .footer span:nth-of-type(2), .cards-carousel-full:not(.dark) a .footer span:nth-of-type(2), .cards-carousel-full:not(.dark) section .footer span:nth-of-type(2) {
  font-size: 15px;
  padding: 0 5px;
}
.cards-carousel:not(.dark) a:after, .cards-carousel:not(.dark) section:after, .cards-carousel-full:not(.dark) a:after, .cards-carousel-full:not(.dark) section:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #1484D5;
  height: 0;
  opacity: 0;
}
.cards-carousel:not(.dark) a:hover:after, .cards-carousel:not(.dark) section:hover:after, .cards-carousel-full:not(.dark) a:hover:after, .cards-carousel-full:not(.dark) section:hover:after {
  height: 50px;
  opacity: 1;
}
.cards-carousel:not(.dark) a:hover .footer, .cards-carousel:not(.dark) section:hover .footer, .cards-carousel-full:not(.dark) a:hover .footer, .cards-carousel-full:not(.dark) section:hover .footer {
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.cards-carousel:not(.dark) a:hover .footer *, .cards-carousel:not(.dark) section:hover .footer *, .cards-carousel-full:not(.dark) a:hover .footer *, .cards-carousel-full:not(.dark) section:hover .footer * {
  color: #fff;
}
.cards-carousel.dark section, .cards-carousel-full.dark section {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
}
.cards-carousel.dark *, .cards-carousel-full.dark * {
  color: #fff;
}
.cards-carousel.dark .indicators .indicator-item, .cards-carousel-full.dark .indicators .indicator-item {
  background-color: #fff;
  opacity: 0.3;
}
.cards-carousel.dark .indicators .indicator-item.active, .cards-carousel-full.dark .indicators .indicator-item.active {
  background-color: #fff;
  opacity: 1;
  transform: scale(1.2);
}

.cards-carousel-blue {
  padding: 100px 0;
  min-height: 500px;
}
.cards-carousel-blue .indicators .indicator-item {
  background-color: #1484D5;
  opacity: 0.3;
}
.cards-carousel-blue .indicators .indicator-item.active {
  background-color: #1484D5;
  opacity: 1;
  transform: scale(1.2);
}
.cards-carousel-blue section {
  float: left;
  width: 300px !important;
  min-height: 300px;
  height: auto !important;
  overflow: hidden;
  display: block;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  padding: 20px;
  color: #000;
}
.cards-carousel-blue section .image {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 40%;
  margin: auto;
}
.cards-carousel-blue section .line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
}
.cards-carousel-blue section h3 {
  font-size: 16px;
  margin: 20px 0 10px 0;
}
.cards-carousel-blue section .text {
  opacity: 0.65;
}
.cards-carousel-blue section a {
  margin-top: 20px;
  display: block;
  font-size: 12px;
  color: #000;
}

.homepage-testimonials {
  width: 100%;
  padding: 140px 0;
  position: relative;
}
.homepage-testimonials:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.homepage-testimonials .content {
  position: relative;
  z-index: 2;
}
.homepage-testimonials img {
  min-width: 100%;
}
.homepage-testimonials .carousel-item .image {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.homepage-testimonials .carousel-item .right {
  float: right;
  width: calc(100% - 100px);
  padding: 20px;
}
.homepage-testimonials .carousel-item .right h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
}
.homepage-testimonials .carousel-item .text {
  display: block;
  clear: both;
  padding: 20px 0 0 0;
}

.homepage-articles {
  width: 100%;
  padding: 140px 0;
  overflow: hidden;
  background-color: #FBFEFF;
}

.blog-posts a {
  float: left;
  width: 386.66px;
  margin: 20px;
  display: block;
  padding: 20px;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .blog-posts a {
    width: calc(100% - 40px);
  }
}
.blog-posts a .image {
  width: 100%;
  padding-bottom: 66%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.blog-posts a .date {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
.blog-posts a .date span, .blog-posts a .date i {
  float: left;
  font-size: 16px;
  color: #1484D5;
  margin-right: 5px;
}
.blog-posts a h2 {
  color: #000;
  font-size: 15px;
  margin: 10px 0 20px 0;
}
.blog-posts a:hover {
  transform: scale(1.05);
}

.footer-contact {
  background-color: #F0F9FF;
  width: 100%;
  padding: 140px 0;
  overflow: hidden;
}

.footer-menu {
  background-color: #FBFEFF;
  width: 100%;
  padding: 70px 0 20px 0;
  overflow: hidden;
}
.footer-menu .blocks {
  margin-bottom: 60px;
}
.footer-menu .blocks h3 {
  font-size: 16px;
  margin: 0 0 30px 0;
}
.footer-menu .blocks .menu a {
  display: block;
  color: rgba(0, 0, 0, 0.55);
  margin-bottom: 5px;
}
.footer-menu .blocks .menu a:hover {
  color: #000;
}
.footer-menu .footer-info {
  max-width: 300px;
}
.footer-menu .footer-info div, .footer-menu .footer-info a {
  display: block;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.55);
}
.footer-menu .footer-info div b, .footer-menu .footer-info a b {
  padding-right: 5px;
}
.footer-menu .footer-newsletter {
  display: block;
  position: relative;
  margin: 20px 0;
}
.footer-menu .footer-newsletter button {
  position: absolute;
  top: 6px;
  right: -5px;
  color: #1484D5;
}
.footer-menu .social {
  float: left;
  width: 30px;
  height: 30px;
  display: block;
}
.footer-menu .social i {
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #000;
}
.footer-menu .social:hover {
  opacity: 0.6;
}

.form-white input[type=text], .form-white input[type=email], .form-white input[type=url], .form-white input[type=tel] {
  display: block;
  width: 100%;
  background-color: #fff !important;
  border: 1px solid rgba(20, 132, 213, 0.2) !important;
  padding: 10px !important;
  height: 50px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}
.form-white input[type=text]:focus, .form-white input[type=email]:focus, .form-white input[type=url]:focus, .form-white input[type=tel]:focus {
  outline: none !important;
  border: 1px solid rgba(20, 132, 213, 0.8) !important;
}
.form-white textarea {
  display: block !important;
  width: 100% !important;
  min-height: 120px !important;
  background-color: #fff !important;
  border: 1px solid rgba(20, 132, 213, 0.2) !important;
  padding: 15px 10px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}
.form-white textarea:focus {
  outline: none !important;
  border: 1px solid rgba(20, 132, 213, 0.8) !important;
}

.about-profile {
  padding: 140px 0;
  position: relative;
  z-index: 2;
}
.about-profile .big_number_section {
  padding-left: 60px;
}
.about-profile .big_number_section .number {
  float: left;
  color: #1484D5;
  font-size: 180px;
  height: 170px;
  line-height: 170px;
  font-weight: 600;
}
.about-profile .big_number_section .unit {
  float: left;
  color: #1484D5;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100px;
  margin-top: 130px;
  padding-left: 40px;
}

.customers-list {
  padding: 140px 0;
  background-color: #FBFEFF;
}
.customers-list .logo {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding-bottom: 66%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.about-customers {
  display: block;
  padding: 40px 0;
}
.about-customers a.logo {
  display: block;
  width: 100%;
  padding-bottom: 50%;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.partners-content {
  display: block;
  padding: 140px 0 0 0;
  overflow: hidden;
  background-color: #1484D5;
}

.contact-info {
  background-color: #FBFEFF;
  padding: 140px 0;
}
.contact-info .info {
  padding: 0 30px 0px 40px;
  position: relative;
  min-height: 450px;
  color: rgba(0, 0, 0, 0.55);
}
.contact-info .info .wp-block-quote {
  border-left: 3px solid #1484D5;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-left: -30px;
  padding-left: 27px;
  padding-bottom: 5px;
  width: calc(50% - 40px);
}
.contact-info .info .wp-block-quote p {
  width: 100% !important;
}
.contact-info .info p {
  width: calc(50% - 40px);
}
.contact-info .form {
  padding: 20px 40px 40px 40px;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0 !important;
}
.contact-info .contact-box {
  padding: 0 40px;
}
.contact-info .contact-box h3 {
  font-size: 16px;
  font-weight: 400;
}

.contact-subscribe {
  background-color: #F0F9FF;
  padding: 140px 0;
}
.contact-subscribe .left {
  padding: 0 40px 0 0;
}
.contact-subscribe .left h2 {
  font-size: 24px;
  font-weight: 700;
}
.contact-subscribe .right {
  position: relative;
  padding-top: 40px;
}
.contact-subscribe .right .btn-flat {
  position: absolute;
  top: 47px;
  right: 10px;
}

.media_and_paragraph {
  padding: 80px 0;
}
.media_and_paragraph.VeryLightBlue {
  background-color: #FBFEFF;
}
.media_and_paragraph.LightBlue {
  background-color: #F0F9FF;
}
.media_and_paragraph .media {
  padding: 0 60px;
}
.media_and_paragraph .media img {
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
.media_and_paragraph .media.s12 img {
  max-width: 700px;
}
.media_and_paragraph .media img {
  margin: auto;
}
.media_and_paragraph .media iframe {
  width: 100% !important;
  min-height: 400px;
}
.media_and_paragraph h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0 40px 0;
}
.media_and_paragraph .text {
  padding: 0 60px;
}
.media_and_paragraph.parallax-window {
  position: relative;
}
.media_and_paragraph.parallax-window:after {
  content: "";
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.media_and_paragraph.parallax-window .content, .media_and_paragraph.parallax-window .content-small {
  position: relative;
  z-index: 2;
  color: #fff;
}
.media_and_paragraph.parallax-window .content .text-gray, .media_and_paragraph.parallax-window .content-small .text-gray {
  color: #fff !important;
}

.content_grid {
  padding: 100px 0;
}
.content_grid.VeryLightBlue {
  background-color: #FBFEFF;
}
.content_grid.LightBlue {
  background-color: #F0F9FF;
}
.content_grid.parallax-window {
  position: relative;
}
.content_grid.parallax-window:after {
  content: "";
  display: block;
  z-index: 1;
  background-color: #000;
  opacity: 0.4;
}
.content_grid.parallax-window .content, .content_grid.parallax-window .content-small {
  position: relative;
  z-index: 2;
  color: #fff;
}
.content_grid.parallax-window .content .text-gray, .content_grid.parallax-window .content-small .text-gray {
  color: #fff !important;
}
.content_grid .content, .content_grid .content-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.content_grid .content .col, .content_grid .content-small .col {
  float: none !important;
  margin-left: unset;
  margin-right: unset;
}
.content_grid .box .inner {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 5px;
  width: 100%;
  height: calc(100% - 20px);
}
.content_grid .box * {
  color: rgba(0, 0, 0, 0.55);
}
.content_grid .box h3 {
  color: #000;
  font-size: 16px;
  padding: 20px;
  margin: 0;
}
.content_grid .box .text {
  padding: 0 20px 20px 20px;
}
.content_grid .box.no-icon.no-picture h3 {
  font-size: 24px;
}
.content_grid .box.no-icon.no-picture .icon {
  display: none;
}
.content_grid .box.icon-big .inner {
  padding-bottom: 20px;
}
.content_grid .box.icon-big * {
  text-align: center;
}
.content_grid .box.icon-big .icon {
  display: block;
  width: 100%;
}
.content_grid .box.icon-big .icon i, .content_grid .box.icon-big .icon span {
  display: block;
  width: 100%;
  padding: 20px 0 0 0;
  font-size: 64px;
  height: 100px;
  line-height: 100px;
  color: #1484D5;
}
.content_grid .box.icon-small .the_content {
  display: flex;
  flex-wrap: wrap;
}
.content_grid .box.icon-small .the_content h3 {
  width: calc(100%);
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 80px;
}
.content_grid .box.icon-small .the_content .text {
  width: calc(100%);
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 80px;
}
.content_grid .box.icon-small .icon {
  display: block;
  width: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.content_grid .box.icon-small .icon i, .content_grid .box.icon-small .icon span {
  display: block;
  font-size: 24px;
  width: 100%;
  text-align: center;
  color: #1484D5;
  padding: 20px 0;
}
.content_grid .box.image .inner {
  padding-bottom: 100%;
  max-height: 400px;
  border-radius: 5px;
}
.content_grid .box.image .inner:hover .text {
  max-height: 500px;
  padding: 0 20px 20px 20px;
}
.content_grid .box.image .inner:hover .the_arrow {
  transform: scale(0);
}
.content_grid .box.image * {
  text-align: center;
}
.content_grid .box.image .icon {
  display: none;
}
.content_grid .box.image .the_image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 90px;
  z-index: 1;
  background-size: cover;
  border-radius: 5px;
}
.content_grid .box.image .the_content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  min-height: 100px;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
}
.content_grid .box.image .the_content .text {
  max-height: 0;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
}
.content_grid .box.image .the_arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin: auto;
  display: block;
  background-color: #1484D5;
  color: #fff;
  z-index: 3;
  bottom: -20px;
  left: 0;
  right: 0;
}
.content_grid .box.image .the_arrow span {
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.content_grid .header h1 {
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0 40px 0;
}
.content_grid .header .text {
  padding: 0 60px;
  margin-bottom: 20px;
}

.accordion {
  position: absolute;
  z-index: 20;
  padding: 0px !important;
}
.accordion a {
  display: block;
  border: 1px solid rgba(20, 132, 213, 0.15);
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 20px;
  border-radius: 5px;
  color: #000;
  font-size: 15px;
  position: relative;
}
.accordion a:after {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  color: #1484D5;
  line-height: 50px;
  font-weight: 700;
  font-size: 12px;
}
.accordion a:hover {
  border: 1px solid #1484d5;
}
.accordion .text {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #fff;
}
.accordion.expanded {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.accordion.expanded a {
  background-color: #1484D5;
  color: #fff;
}
.accordion.expanded a:after {
  transform: rotate(180deg);
  color: #fff;
}
.accordion.expanded .text {
  max-height: 500px;
  padding: 20px 20px;
}

.text-gray ul {
  padding-left: 30px;
  list-style: unset !important;
}
.text-gray ul li {
  list-style: unset !important;
}

.form-search .searchform {
  display: flex;
  flex-wrap: nowrap;
  padding: 80px 20px;
}
.form-search .searchform input[type=text] {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(20, 132, 213, 0.2);
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
}
.form-search .searchform button {
  width: 100px;
  display: block;
  background-color: #1484D5;
  border: 1px solid rgba(20, 132, 213, 0.2);
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-results {
  margin-bottom: 80px;
}
.search-results h4 {
  padding: 20px;
}
.search-results a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(20, 132, 213, 0.25);
}
.search-results a span:first-of-type {
  color: rgba(0, 0, 0, 0.55);
}
.search-results a span:last-of-type {
  color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.search-results a h5 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #1484D5;
}
.search-results a:hover {
  background-color: #F0F9FF;
}

/*# sourceMappingURL=style.css.map */
